body {
    color: #fff;
    background-color: #000;
}

.logo_image{
    padding: 20px 10px;
}

.logo_image img{
    max-width: 160px;
    height: auto;
    animation: logo_wheel 5s ease-in-out infinite;
}

@keyframes logo_wheel {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

.miss_me{
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
}

.bg_audio{
    width: 180px;
}

